footer{
    padding: 0 $margeS;
    ul{
        @include flexbox()
        &.footer-right{
            @include justify-content(flex-end)
        }
        li{
            &:after{
                content: "|";
                display: inline-block;
                padding: 0 .4em;
            }
            &:last-child::after{display: none}
        }
    }
}

@media all and (max-width:$s){
    footer{
        padding: 0 $margeXS;
        .row,
        ul{@include flex-direction(column)}
        ul li:after{display: none}
        ul.footer-right{margin-top: $rowHeight!important}
    }
}