header{
    //position: sticky;
    position: fixed; width: 100%;
    top: 0;
    z-index: 250;
    //margin-bottom: $margeM;
    padding: 0 $margeS;
    background: $bg;
    &.active{
        .site-title{
            .title-detail{
                .plus{
                    opacity: 0;
                    //transform: scale(0) translateX(100%);
                }
                .detail{
                    width: 200px;
                    opacity: 1;
                }
            }
        }

        nav{
            @include slide(none, 1);
            pointer-events: auto;
        }
    }
    
   
    .top-header{
        padding: $rowPad;
        background: white;
        z-index: 2;
        .locale-switcher{
            @include flexbox()
            @include justify-content(flex-end);
            a{padding-left: .4em}
        }
    }
    .site-title{
        @include flexbox();
        &:hover,
        &:active{color: $color1}
        .title{margin-right: .4em}
        .title-detail{
            @include flexbox();
            @include justify-content(space-between);
            min-width: 18px;
            &::before,
            &::after{

            }
            &::before{content: "["}
            &::after{content: "]"}
            .plus,
            .detail{@include anime(.6s, 0s);}
            .plus{
                position: absolute;
                left: 50%;
                opacity: 1;
                transform: translateX(-50%);
            }
            .detail{
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                background: white;
                opacity: 0;
            }
        }
    }
    
    nav{
        &.collapsed{display: none}
        z-index: 1;
        position: absolute;
        width: 100%;
        background: white;
        padding-bottom: $rowHeight;
        @include anime();
        @include slide(top, 0)
        pointer-events: none;
        ul{
            //@include flexbox();
            li{
                a:hover{color: $color2}
            }
        }
    }
}

.pace-running header{
    pointer-events: none!important;
    nav{@include slide(top, 0)}
}

.downscroll{
    header{
        .inner{
            @include slide(top, 0);
        }
    }
}


@media all and (max-width:$s){
    header{
        //padding: $margeXS;
        
    }
}