header{
    //position: sticky;
    position: fixed; width: 100%;
    top: 0;
    z-index: 250;
    //margin-bottom: $margeM;
    padding: 0 $margeS;
    background: $bg;
    &:hover{
        nav{display: block}
    }
    .top-header{
        padding: $rowPad;
        .locale-switcher{
            @include flexbox()
            @include justify-content(flex-end);
            a{padding-left: .4em}
        }
    }
    nav{
        &.collapsed{display: none}
        display: none;
        position: absolute;
        width: 100%;
        background: white;
        padding-bottom: $rowHeight;
        ul{
            //@include flexbox();
            li{
                
            }
        }
    }
}

.downscroll{
    header{
        .inner{
            @include slide(top, 0);
        }
    }
}


@media all and (max-width:$s){
    header{
        //padding: $margeXS;
        
    }
}