.table{
    ._row{
        padding:$rowPad; 
    }
    .tr{
        .row-header{
            //cursor: n-resize;
            cursor: url('../images/arrow-n.png'), n-resize;
        }
        &.is-collapsed{
            &:hover{
                background: $color2
            }
            .row-header{
                // cursor: s-resize;
                cursor: url('../images/arrow-s.png'), s-resize;
            }
        } 
        
    }
    .table-header{
        @media all and (min-width:$s){
            position: sticky;
            top: $rowHeight;
            z-index: 249;
            background: white;
        }
    }
    .table-actions{
        @include flexbox();
        li{
            padding-right: 1em;
            position: relative;
            cursor: pointer;
            &::after{
                content: "|"; 
                position: absolute;
                right: .3em; top: 0;
                
            }
            &:last-child::after{display: none}
        }
    }
    .search{
        input{
            width: 100%;
            @include _placeholder{
                color: black;
            }
        }
    }
    ._sort{
        cursor: pointer;
    }
    .images-grid{
        vertical-align: top;
        @include flexbox();
        @include flex-wrap(wrap);
        figure{
            margin-right: $rowHeight;
            margin-bottom: $rowHeight;
            @media all and (max-width:$s){
                margin-right: $rowHeight / 2;
                margin-bottom: $rowHeight / 2;
            }
        }
    }
}