.slice.liste{
    .liste-item{
        &.active{
            .title{
                cursor: $minus;
            }
            .item-content{
                display: block;
                border-bottom: $border;
            }
        } 
        .title{
            cursor: $crosshair;
        }
        .item-content{
            display: none;
            .texte{
                //columns: 3;
                padding-bottom: $rowHeight;
                @media all and (max-width:$s){
                    columns: 1;   
                }
                @media all and (min-width:$s){
                    &.column-1{max-width: 50%;}
                }
                
            }
            figure{
                padding: $rowHeight 0;
                margin-bottom: $rowHeight;
            }
        }
        &:last-of-type{
            //background: red
            &.active .title{border-bottom: $border}
            .title,
            .item-content{border: none}
        }
    }
}