.slice.liste{
    .liste-item{
        &.active{
            .title{
                cursor: url('../images/arrow-n.png'), n-resize;
            }
            .item-content{
                display: block;
                border-bottom: $border;
            }
        } 
        .title{
            cursor: url('../images/arrow-s.png'), s-resize;
        }
        .item-content{
            display: none;
            .texte{
                //columns: 3;
                padding-bottom: $rowHeight;
                @media all and (max-width:$s){
                    columns: 1;
                    
                }
            }
            figure{
                padding: $rowHeight 0;
                margin-bottom: $rowHeight;
            }
        }
        &:last-of-type{
            //background: red
            &.active .title{border-bottom: $border}
            .title,
            .item-content{border: none}
        }
    }
}