html,body{
    scroll-behavior: smooth;
}

main{
    padding: $headerHeight $margeS;
    min-height: calc(100vh - (#{$rowHeight} * 1))
}

.xs-only{display: none}
@media all and (max-width:$s){
    .xs-only{display: block}
    
}
