html,body{
    scroll-behavior: smooth;
}

main{
    padding: $headerHeight $margeS;
    min-height: calc(100vh - (#{$rowHeight} * 1))
}



@media all and (min-width:$s){
    
}

.xs-only{display: none}
@media all and (max-width:$s){
    .xs-only{display: block}
    .hidden-xs{display: none;}

    main{
        padding: $headerHeight * 2 $margeXS $headerHeight;
    }
}
