img{
    max-width: 100%;
}

.hidden{display: none;}

.b-t{
    border-top: $border;
    &.pad{padding: $rowPad; }
}
.b-b{
    border-bottom: $border;
    &.pad{padding: $rowPad; }
}
.pad{padding: $rowPad; }

.collapsed{display: none}
img{vertical-align: top}