img{
    max-width: 100%;
}

.hidden{display: none;}

.b-t{
    border-top: $border;
    &.pad{padding: $rowPad; }
}
.b-b{
    
    border-bottom: $border;
    &.pad{padding: $rowPad; }
}
.pad{
    padding: $rowPad; 
    &:empty{display: none;}
}
.n-p{
    padding: 0;
}
// .headline.pad{
//     //padding-top: 0.43em;
//     @-moz-document url-prefix() {
//         padding-top: 0.53em;
//         padding-bottom: 0.29em;
//     }
// }
.headline{
    &.pad,
    .pad{
        padding: $rowPadHeadline;
    }
}
.collapsed{display: none}
img{vertical-align: top}

.fl{@include flexbox()}
.start-xs{
    @include flexbox()
    @include justify-content(flex-start);
}
.end-xs{
    @include flexbox()
    @include justify-content(flex-end);
}