/* BASE VARIABLES
 *******************/


/* Sizes */
$max-width: 1800px;
$headerHeight: 25px;
$rowHeight: 25px;
$headerHeightMobile: 25px;
//$rowPad: 0.48em 0 0.31em;
//$rowPad: 7px 0 3px;
$rowPad: 0.500em 0 0.214em;
$rowPadHeadline: 0.548em 0 0.286em;
/* Colors */
$color1: #000;
$color2: #F3F3F3;
$color3: #999999;

//$links: $color1;
//$hover: $color2;

$bg: white;

/* PADDINGS */
$margeXS: 12px;
$margeS: $margeXS * 2;
$margeM: $margeXS * 4;
$margeL: $margeXS * 8;
$margeXL: $margeL * 2;
$gutter: $margeXS;

/* Fonts */
$fontPrimary: 'Theinhardt-Regular', sans-serif;
$fontSecondary: 'Theinhardt-Light', sans-serif;

$fontM: 1.4rem;
$fontL: $fontM * 3;

$lineHeight: 103.49%;
$letterSpacing: 0.03em;

$borderWidth: 1px;
$border: $borderWidth solid;

//$e-resize: url("data:image/svg+xml,%3Csvg width='16'%0Aheight='16'%0Axmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EPlan de travail 1 copie 2%3C/title%3E%3Cg id='blanc'%3E%3Crect class='cls-1' y='6.5' width='14' height='3'/%3E%3Cpolygon class='cls-2' points='8.85 13.85 8.15 13.15 13.29 8 8.15 2.85 8.85 2.15 14.71 8 8.85 13.85'/%3E%3C/g%3E%3Cg id='noir'%3E%3Crect x='1' y='7.5' width='13' height='1'/%3E%3Cpolygon points='8.85 13.85 8.15 13.15 13.29 8 8.15 2.85 8.85 2.15 14.71 8 8.85 13.85'/%3E%3C/g%3E%3C/svg%3E") 8 8, e-resize;
$e-resize: url("data:image/svg+xml,%3Csvg%0Awidth='36' height='36' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EPlan de travail 1 copie 8%3C/title%3E%3Cg id='blanc'%3E%3Cpath class='cls-1' d='M20.71,5.29,33.38,18,21.74,30.68l-1.48-1.36L29.73,19H2V17H29.59L19.29,6.71l1.42-1.42m0-2.83L19.29,3.88,17.88,5.29,16.46,6.71l1.42,1.41L24.76,15H0v6H25.18l-6.39,7-1.35,1.48,1.47,1.35,1.48,1.35,1.47,1.35L23.21,32,34.86,19.32l1.29-1.41L34.8,16.56,22.12,3.88,20.71,2.46Z'/%3E%3C/g%3E%3Cg id='noir'%3E%3Crect x='2' y='17' width='30' height='2'/%3E%3Cpolyline class='cls-2' points='20 6 32 18 21 30'/%3E%3C/g%3E%3C/svg%3E") 18 18, e-resize;
//$w-resize: url("data:image/svg+xml,%3Csvg width='16'%0Aheight='16'%0Axmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EPlan de travail 1 copie 5%3C/title%3E%3Cg id='blanc'%3E%3Crect class='cls-1' x='2' y='6.5' width='14' height='3'/%3E%3Cpolygon class='cls-2' points='7.15 2.15 7.85 2.85 2.71 8 7.85 13.15 7.15 13.85 1.29 8 7.15 2.15'/%3E%3C/g%3E%3Cg id='noir'%3E%3Crect x='2' y='7.5' width='13' height='1'/%3E%3Cpolygon points='7.15 2.15 7.85 2.85 2.71 8 7.85 13.15 7.15 13.85 1.29 8 7.15 2.15'/%3E%3C/g%3E%3C/svg%3E") 8 8, w-resize;
$w-resize: url("data:image/svg+xml,%3Csvg width='36' height='36'%0Axmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EPlan de travail 1 copie 9%3C/title%3E%3Cg id='blanc'%3E%3Cpath class='cls-1' d='M14.26,5.32l1.48,1.36L6.27,17H34v2H6.41l10.3,10.29-1.42,1.42L2.62,18,14.26,5.32M14.14,2.5,12.79,4,1.14,16.68-.15,18.09,1.2,19.44,13.88,32.12l1.41,1.42,1.42-1.42,1.41-1.41,1.42-1.42-1.42-1.41L11.24,21H36V15H10.82l6.39-7,1.35-1.48L17.09,5.2,15.61,3.85,14.14,2.5Z'/%3E%3C/g%3E%3Cg id='noir'%3E%3Crect x='4' y='17' width='30' height='2'/%3E%3Cpolyline class='cls-2' points='16 30 4 18 15 6'/%3E%3C/g%3E%3C/svg%3E") 18 18, w-resize;
$plus: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='35px' height='35px' viewBox='0 0 35 35' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cross'%3E%3Cg id='bg-copy' fill='%23FFFFFF' opacity='0.00999999978'%3E%3Crect id='bg' x='0' y='0' width='35' height='35'%3E%3C/rect%3E%3C/g%3E%3Cpath d='M25,16 L18.99,16 L18.99,10 L16.01,10 L16.01,16 L10,16 L10,19 L16.01,19 L16.01,25 L18.99,25 L18.99,19 L25,19 L25,16 Z' id='cross-border' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M23.9902,17.0103 L17.9902,17.0103 L17.9902,11.0003 L17.0102,11.0003 L17.0102,17.0103 L11.0102,17.0103 L11.0102,17.9903 L17.0102,17.9903 L17.0102,24.0003 L17.9902,24.0003 L17.9902,17.9903 L23.9902,17.9903 L23.9902,17.0103 Z' fill='%23231F1F'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 18 18, crosshair;
$minus: url("data:image/svg+xml,%3Csvg width='35px' height='35px' version='1.1' id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Ctitle%3EPlan de travail 1 copie 6%3C/title%3E%3Cg id='blanc'%3E%3Cpath class='st0' d='M24.7,17.6v0.8H11.3v-0.8H24.7 M25.5,16.8h-15v2.5h15V16.8z'/%3E%3C/g%3E%3Cg id='noir'%3E%3Crect x='11.3' y='17.6' width='13.3' height='0.8'/%3E%3C/g%3E%3C/svg%3E%0A") 18 18, crosshair;


/* Breakpoints */
$cap: 1920px;
$m: 1024px;
$s: 768px;
$xs: 500px;
$xxs: 320px;