.template-agency{
    section{
        
        
        &.featured-images{
            .content{
                display: block;
                padding-top: $rowHeight;
                .row{
                    margin-bottom: $rowHeight;
                    &:last-child{margin-bottom: 0}
                }
            }
        }
   
        
    }
}