.template-agency{
    section{
        
        &.images{
            .content{
                padding: $rowHeight 0 0;
            }
            figure{margin-bottom: $rowHeight}
        }
        &.featured-images{
            .content{display: block}
        }
   
        &.liste{
            .liste-item{
                &.active .item-content{
                    display: block;
                    border-bottom: $border;
                }
                .item-content{
                    display: none;
                    .texte{
                        columns: 3;
                    }
                    figure{
                        padding: $rowHeight 0;
                    }
                }
                &:last-of-type{
                    //background: red
                    &.active .title{border-bottom: $border}
                    .title,
                    .item-content{border: none}
                }
            }
        }
    }
}