.infos{
    .texte{
        padding: $rowPad; 
    }
}
.fiche_technique{
    padding: $rowPad!important; 
    li{
        @include flexbox();
        .label{
            flex-basis: 180px
        }
    }
}

section{
    h2{cursor: s-resize;}
    &.active{
        h2{cursor: n-resize;}
        .content{
            display: block;
            border-bottom: $border;
        }
    }
    .content{
        display: none;
    }
}