.liste-images{
    .row{
        &:nth-child(even){
            @include justify-content(flex-end);
            
        }
    }
}
.infos{
    .texte{
        padding: $rowPad; 
    }
}
.fiche_technique{
    padding: $rowPad!important; 
    li{
        @include flexbox();
        .label{
            flex-basis: 180px
        }
    }
}

section{
    h2{
        // cursor: s-resize;
        cursor: url('../images/arrow-s.png'), s-resize;
    }
    &.active{
        h2{
            // cursor: n-resize;
            cursor: url('../images/arrow-n.png'), n-resize;
        }
        .content{
            display: block;
            border-bottom: $border;
        }
    }
    .content{
        display: none;
    }
}