.template-contact{
    
    .location{
        &.active{
            .title{
                //cursor: n-resize;
                // cursor: url('../images/arrow-n.png'), n-resize;
                cursor: $minus;
            }
            .location-content{
                display: block
            }
        } 
        .title{
            // cursor: s-resize;
            // cursor: url('../images/arrow-s.png'), s-resize;
            cursor: $crosshair;
        }
        .location-content{
            display: none;

        }
        &:last-of-type{
            //background: red
            &.active .title{border-bottom: $border}
            .title,
            .map-container{border: none}
        }
    }
    .map-container{
        //height: 50vh;
        z-index: 0;
        padding: $rowHeight 0;
        height: 50vh;
        max-height: 501px;
        border-bottom: $border;
        .leaflet-container {
            height: 100%;
            width: 100%;
        }
    }
}