.carousel{
    
    .slick-arrow{
        position: absolute; top: 0;
        width: 50%; height: 100%;
        //background: red;
        z-index: 249;
        text-indent: -9999px;
        //cursor: none;
        &.slick-prev{
            // cursor: w-resize;
            cursor: url('../images/arrow-w.png'), w-resize;
        }
        &.slick-next{
            right: 0;
            // cursor: e-resize;
            cursor: url('../images/arrow-e.png'), e-resize;
        }
    }
}

@media all and (max-width:$s){
    .carousel{
        .slick-arrow{
            //display: none!important;
        }
    }
}