.star{
    position: fixed;
    left: 50%; top: 50%;
    .bar{
        position: absolute;
        height: $borderWidth;
        //max-width: 60;
        left: 50%; top: 50%;
        background: $color1;
        transform-origin: center center;
        width: 0vw;
        opacity: 0;
        
        &.visible{
            width: 85vh;
            //width: 60vh;
            opacity: 1;
        }
    }
}